<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astro.nautica.Mapper.InquireMapper">
    <select id="selectInquiresList" resultType="InquireVO">
        SELECT INQUIREID, USERID, TITLE
        FROM INQUIRE
        Order By INQUIREID
    </select>

    <select id="getInquire" resultType="InquireVO" parameterType="int">
        SELECT *
        FROM INQUIRE
        WHERE INQUIREID = #{inquireId}
    </select>

</mapper>