<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astro.nautica.Mapper.ProductMapper">
    <select id="selectTest" resultType="ProductVO">
        SELECT *
        FROM PRODUCT
    </select>
    <select id="getCategories" resultType="CategoryVO">
        SELECT CATEGORYID, CATEGORYNAME
        FROM CATEGORY
        ORDER BY CATEGORYID
    </select>
    <select id="isExistProduct" parameterType="String" resultType="boolean">
        SELECT COUNT(*)
        FROM PRODUCT
        WHERE PRODUCTNAME = #{productName}
    </select>
    <select id="getCategoryDetails" parameterType="String" resultType="CategoryDetailsVO">
        SELECT DETAILID, CATEGORYID, DETAIL
        FROM CATEGORYDETAILS
        WHERE CATEGORYID = #{categoryId}
    </select>
</mapper>