<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astro.nautica.Mapper.UserInquireMapper">
	<select id="selectInquiresList" resultType="com.astro.nautica.VO.InquireVO" parameterType="String">
        SELECT INQUIREID, USERID, TITLE 
        FROM INQUIRE 
        WHERE USERID = #{userId} 
        Order By INQUIREID
    </select>

    <select id="getInquire" resultType="com.astro.nautica.VO.InquireVO" parameterType="Map">
        SELECT *
        FROM INQUIRE
        WHERE INQUIREID = #{inquireId}
        AND USERID = #{userId}
    </select>
</mapper>