<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astro.nautica.Mapper.UserInquireMapper">
	<select id="selectUserInquiresList" resultType="com.astro.nautica.VO.InquireVO" parameterType="String">
        SELECT INQUIREID, USERID, TITLE 
        FROM INQUIRE 
        WHERE USERID = #{userId} 
        Order By INQUIREID
    </select>

    <select id="getUserInquire" resultType="com.astro.nautica.VO.InquireVO" parameterType="Map">
        SELECT *
        FROM INQUIRE
        WHERE INQUIREID = #{inquireId}
        AND USERID = #{userId}
    </select>
    
    <select id="BookmarkList" parameterType="String" resultType="com.astro.nautica.VO.ProductVO">
        select p.pId, productName, price, ProductImage
        from product p,
             bookmarks b
        where p.pid = b.pid
          and userId = #{userId}
    </select>
    
    <select id="selectUserReviewList" resultType="com.astro.nautica.VO.ProductReviewVO" parameterType="String">
    	select * from PRODUCTREVIEW 
    	where userId = #{userId}
    </select>
    
    <select id="getUserReview" resultType="com.astro.nautica.VO.ProductReviewVO" parameterType="Map">
    	select * from PRODUCTREVIEW 
    	where userId = #{userId}
    	and reviewId = #{reviewId}
    </select>
</mapper>